<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Bootstrap is now served from the "public" directory -->
  <!-- The "defer" attribute waits for the document to load before running JS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <script defer src="/js/bootstrap.min.js"></script>

  <title>Super Team Picker</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/assets/cluck.png"  height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new_cluck">Cluck!</a>
            </li>
           

          </ul>
          <% if (username) { %>
            <span class="me-3">Welcome, <%= username %> </span>
            <form class="d-flex" action="/sign_out" method="POST">
              <input class="btn btn-danger" type="submit" value="Sign Out">
            </form>
            <% } else { %>
                <li>
                    <a class="btn btn-success" type href="/sign_in">sign in</a>
                </li>
            <!-- <form class="d-flex" action="/sign_in" method="POST">
              <input class="form-control me-2" type="text" placeholder="Username" aria-label="Username" name="username" required>
              <input class="btn btn-success" type="submit" value="Sign In">
            </form> -->
            <% } %>
        </div>
      </nav>
      <div class="container-sm mt-4">